.simple-context-menu {
    -fx-accent: #464646;
    -fx-background-color: #000000C0;
    -fx-padding: 5px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #242424;
}

.item-label {
    -fx-font-size: 13px;
    -fx-text-fill: #ff8c00;
}

.error-label {
    -fx-font-size: 36px;
    -fx-text-fill: #ff8c00;
}

.counter-label {
    -fx-font-size: 120px;
    -fx-text-fill: #ff8c00;
}

.webcam-name-label {
    -fx-padding: 5px;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff8c00;
}